<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiniu.back.module.todo.mapper.TodoDateMapper">
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO yl_todo_date (todo_id, todo_date, day_content, status) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.todoId}, #{item.todoDate}, #{item.dayContent}, #{item.status})
        </foreach>
    </insert>
</mapper>
